#map
{
    position: relative;
    top: 10px;
    left: 65px;
    border: 3px solid darkcyan;
}
#title_map
{
    font-size: xx-large;
    background-color: cadetblue;
    color: floralwhite;
    height: 40px;
    text-align: center;
    font: Georgia;
}
body {
    background-color: lightblue;
    position: relative;
}


#please_work
{
    overflow: hidden;
}
iframe
{
    overflow: hidden;
}
#pycharts-graph
{
    background-color: aqua;
    color: aqua;
    color-scheme: aqua;
    flood-color: aqua;
}