#map
{
    position: relative;
}
#title_map
{
    font-size: xx-large;
    background-color: beige;
}
body {
    background-color: lightblue;
    position: relative;
}


#please_work
{
    overflow: hidden;
}
iframe
{
    overflow: hidden;
}